<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand">
    <img src="assets/images/Logo.svg">
  </a>

  <!-- Links -->
  <div class="topnav">
    <ul class="nav navbar-nav">
      <li><a [routerLink]="'/home'">Home</a></li>
      <li><a [routerLink]="'/patientlist'">List</a></li>
      <li><a href="#">Display</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <ng-container *ngIf="!userLoggedIn">

        <button [routerLink]="'/login'" class="btn btn-primary" type="button">
          Login
        </button>

        <button [routerLink]="'/register'" class="btn btn-primary" type="button">
          Register
        </button>

      </ng-container>

      <li>
        <button *ngIf="userLoggedIn" [routerLink]="'/login'" 
        class="btn btn-primary" (click)="onLogout()" 
        style="margin-right: 25px;">
        Logout
      </button>
      </li>
    </ul>
  </div>
</nav>