<form class="form" [formGroup]="registerForm">
<div class="form-control">
  <label for="email">Email</label> 
  <input formControlName="email" type="email" id="email">
  <p *ngIf="registerForm.get('email').errors?.required && registerForm.get('email').touched">
    Email field is required
  </p>
  <p *ngIf="registerForm.get('email').errors?.pattern">
    Email is invalid
  </p>
</div>

<br>

<div class="form-control">
  <label for="password">Password</label> 
  <input formControlName="password" type="password" id="password">
  <p *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
    Please enter a valid & 6-character password.
  </p>
</div>

<div class="form-footer">
  <button (click)="OnSignUp()" style="margin-top:20px;" [disabled]="!registerForm.valid">
    Register
  </button>
  <a [routerLink]="'/login'">Login</a>
</div>

</form>


