.form {
    width: 315px;
    margin-left: 410px;
    
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input#email.ng-invalid.ng-touched{
    border:1px solid red;
}

input#password.ng-invalid.ng-touched{
    border:1px solid red;
}