<form class="form" [formGroup]="registerForm" id="signUpForm"
(ngSubmit)="submit(registerForm.value)"
>
<div class="form-control">
  <label for="fname">Name</label> 
  <input formControlName="fname" type="fname" id="fname">
  <p *ngIf="!registerForm.get('fname').valid && registerForm.get('fname').touched">
    Name is required
  </p>
</div>
<br>
<div class="form-control">
  <label for="email">Email</label> 
  <input formControlName="email" type="email" id="email">
  <p *ngIf="registerForm.get('email').errors?.required && registerForm.get('email').touched">
    Email field is required
  </p>
</div>

<br>

<div class="form-control">
  <label for="password">Password</label> 
  <input formControlName="password" type="password" id="password">
  <p *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
    Please enter a valid & 6-character password.
  </p>
</div>

<div class="form-footer">
  <button type="submit" style="margin-top:20px;"
  [disabled]="!registerForm.valid">
    Register
  </button>
  <a [routerLink]="'/login'">Login</a>
</div>

</form>


